/* styles.css */
@import url("https://fonts.googleapis.com/css2?family=Spartan:wght@100;200;300;400;500;600;700;800;900&display=swap");

/* Basic CSS for navigation */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Spartan', sans-serif;
}

h1{
    font-size: 50px;
    line-height: 64px;
    color: #222;
}

h2{
    font-size: 46px;
    line-height: 54px;
    color: #222;
}

h4{
    font-size: 20px;
    color: #222;
}

h6{
    font-weight: 700;
    font-size: 12px;
}

p{
    font-size: 16px;
    color: #465b52;
    margin:15px 0 20px 0;
}
.section-p1{
    padding:40px 80px;
}
.section-m1{
    margin:40px 0;
}

button.normal{
    font-size: 14px;
    padding: 15px 30px;
    color: #000;
    background-color: #fff;
    border-radius: 4px;
    cursor: pointer;
    border: none;
    outline: none;
    transition: 0.2s ease;
}

/*HOME*/
#nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 80px;
    background: #233d4d;
    box-shadow: 0 5px 15px rgb(0, 0, 0, 0.6);
    z-index: 999; /* navbar ka box shadow vapas lane ke liye ,gayab hogya tha */
    position: sticky; /* navbar move kr rha , usse sticky krdiya */
    top: 0;
    left: 0;
}


#navbar{
    display: flex;
    align-items: center;
    justify-content: center;
}

#navbar li{
    list-style: none;
    padding: 0 20px;
    position: relative;
}


#navbar li a{
    text-decoration: none;
    font-size: 16px;
    font-weight: 600;
    color: #f9b837;
    transition: 0.3sec ease; /* for smoothness jb home ke pass cursor lejayenge*/
}


#navbar li a:hover,
#navbar li a.active{  /* jo page open hai vo alag color mei dikhega */
    color: #f9b837;

}

#navbar li a.active::after,
#navbar li a:hover::after{  /* Cursor lejane pr link  underline honge*/
    content:"";
    width: 30%;
    height: 2px;
    background: #f9b837;
    position: absolute;
    bottom: -4px;
    left: 20px;
}

/* Hero Image */
.hero-image {
    background-image: url('farmhouse.jpg'); /* Add path to your image */
    height: 92vh; /* Adjust height as needed */
    width: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    padding-bottom: 0;
    margin-bottom: 0;
}

.Logo{
    color: #f9b837;
}
.hero-text {
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
}

.hero-text h2{
    font-size: 35px;
    color: #fdfcdc;
  }
.hero-text h1{
    color: #fdfcdc;
}
.hero-text span{
    color:#fed9b7;
    font-size:40px;
}
/*Benefits*/
#services {
    margin-top: 40px;
}

#services .items {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

#services .items .item {
    text-align: center;
    display: inline-block;
    line-height: 1.5px;
    padding: 6px;
    margin: 6px;
    width: 200px;
    height: 200px;
    background: #e3e6f3;
    border-radius: 10px;
    transition: all 0.5s ease;
}

#services .items .item h2 {
    color: #f9b837;
    justify-content: center;
    display: flex;
    padding-top: 30px;
    line-height: 20px;
    font-size: 14px;
    /* margin: 10px 0; */
}

#services .items .item p {
    line-height: 1.5;
    color:#222;
    font-weight: bold;
}


#services .items .item:hover {
    transform: scale(1.1);
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
}

#services .items .item:hover h2 {
    color: #465B52;
}
/* product section*/
.plants{
    border-radius: 0px;
    background: #e0e0e0;
    box-shadow:  22px 22px 44px #b8b8b8,
                -22px -22px 44px #ffffff;
}

.plants img{
    /* padding-right: 0px; */
    width: 100%;
    margin-top: 0px;
}


.vegetable-container {
    background-image: url('vegetables.jpeg');

    background-size: cover; /* Cover the entire container */
    background-position: center; /* Center the image */
    width: 100%; /* Set width to 100% */
    height: 300px; /* Set height as needed */
    justify-content: center;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.vegetable-container h2{
    text-align: center;
    padding-top: 60px;
    color:white;
}

.vegetable-container h3{
    text-align: center;
    padding-top:25px;
    padding-bottom: 25px;
    color:white;
}

.vegetable-container span{
    color:red;
}
.plants button:hover{ /* button ka color change jb uspe cursor le jayenge*/
    background:#f9b837;
    color:white;
}
.season h2{
    padding-left: 200px;
    color:#412b29;
    padding-top: 38px; 
}
.season p{
    padding-left: 200px;
    padding-right: 80px;
    color:#412b29;
    padding-top: 20px;
    padding-bottom: 30px;
    line-height: 1.5;
}
.season span{
    color:#425639;
}
.season_img{
    background-image: url('ghaas.jpeg');
    background-size:cover ;
    width:60%;
    height: 350px;
    border-radius: 8px;
    margin-top: 60px;
    padding-top:200px;
    padding-bottom: 20px;
}
.main_season{
    display:flex;
    justify-content: space-evenly;
    padding-right: 20px;
    margin-bottom: 0;
}
/*Contact Us*/
#contact-details{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#contact-details .details{
    width: 40%;
}

#contact-details .details .span,
#form-details form span{
    font-size: 12px;
}

#contact-details .details h2,
#form-details form h2{
    font-size: 26px;
    line-height: 35px;
    padding: 20px 0;
}

#contact-details .details h3{
    font-size: 16px;
    padding-bottom: 15px;
}

#contact-details .details li{
    list-style: none;
    display: flex;
    padding: 10px 0;
}

#contact-details .details li i{
    font-size: 14px;
    padding-right: 22px;
}

#contact-details .details li p{
    font-size: 14px;
    margin: 0;
}

#contact-details .map{
    width: 55%;
    height: 400px;
}

#contact-details .map iframe{
    width: 100%;
    height: 100%;
}

#form-details{
    display: flex;
    justify-content: space-between;
    margin: 30px;
    padding: 80px;
    border: 1px solid #e1e1e1;
}

#form-details form{
    width: 65%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

#form-details form input,
#form-details form textarea{
    width: 100%;
    padding: 12px 15px;
    outline: none;
    margin-bottom: 20px;
    border: 1px solid #e1e1e1;
}

#form-details form button{
    background-color: #f9b837;
    color: #fff;
}

#form-details .people div{
    padding-bottom: 25px;
    display: flex;
    align-items: flex-start;
}

#form-details .people div img{
    width: 65px;
    height: 65px;
    object-fit: cover;
    margin-right: 15px;
}

#form-details .people div p{
    margin: 0;
    font-size: 13px;
    line-height: 25px;
}

#form-details .people div p span{
    display: block;
    font-size: 16px;
    font-weight: 600;
    color: #000;
}

/* Newsletter */
#newsletter{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
    background-image: url('img/banner/b14.png');
    background-repeat: no-repeat;
    background-position: 20% 30%;
    background-color: #003554;
}

#newsletter h4{
    font-size: 22px;
    font-weight: 700;
    color: #fff;
}

#newsletter p{
    font-size: 14px;
    font-weight: 600;
    color: #818ea0;
}

#newsletter p span{
    color: #ffbd27;
}

#newsletter .form{
    display: flex;
    width: 40%;
}
#newsletter input{
    height: 3.125rem;
    padding: 0 1.25rem;
    font-size: 14px;
    width: 100%;
    border: 1px solid transparent ;
    border-radius: 4px;
    outline: none;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}

#newsletter button{
    background-color: #38a3a5;
    color: #fff;
    white-space: nowrap;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}



/* footer */
footer{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

footer .col{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 20px;
}

footer .logo{
    margin-bottom: 30px;
    padding-bottom: 5px;
}

footer h4{
    font-size: 14px;
    padding-bottom: 20px;
}

footer p{
    font-size: 14px;
    margin: 0 0 8px 0;
}

footer a{
    font-size: 14px;
    text-decoration: none;
    color: #222;
    margin-bottom: 10px;
}

footer .follow{
    margin-top: 20px;
}

footer .follow i{
    color: #465b52;
    padding-right: 4px;
    cursor: pointer;  
}

footer .install .row img{
    border: 1px solid #f9b837;
    border-radius: 6px;
} 

footer .install img{
    margin: 10px 0 15px 0;
}

footer .follow:hover , footer a:hover{
    color: #f9b837;

}

footer .copyright{
    width: 100%;
    text-align: center;
}

/* ABOUT */

/* main banner */
#page-header.about-header{
    background-image: url('img/about/a1.jpg');
    height: 250px; /* Adjust height as needed */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

#page-header h2,#page-header p{
    color: #fff;
    justify-content: center;
    display: flex;
    align-items: center;
}

#page-header h2{
    padding-top: 60px;
}
/* who are we */
#about-head{
    display: flex;
    align-items: center;
}

#about-head img{
    width: 50%;
    height: auto;
}

#about-head div{
    padding-left: 40px;
}

/*SERVICE*/
#form-details {
    display: flex;
    justify-content: space-between;
    margin: 30px;
    padding: 80px;
    border: 1px solid #e1e1e1;
    background-color: #f5f5f5;
    border-radius: 10px;
}

#form-details form {
    width: 60%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

#form-details form input,
#form-details form textarea {
    width: 100%;
    padding: 12px 15px;
    outline: none;
    margin-bottom: 20px;
    border: 1px solid #e1e1e1;
    border-radius: 5px;
}

#form-details form button {
    background-color: #088178;
    color: #fff;
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.file-label {
    display: block;
    margin-bottom: 20px;
    color: #088178;
    cursor: pointer;
}

#form-details .people div {
    padding-bottom: 25px;
    display: flex;
    align-items: flex-start;
}

#form-details .people div img {
    width: 65px;
    height: 65px;
    object-fit: cover;
    margin-right: 15px;
    border-radius: 50%;
}

#form-details .people div p {
    margin: 0;
    font-size: 14px;
    line-height: 25px;
}

#form-details .people div p span {
    display: block;
    font-size: 16px;
    font-weight: 600;
    color: #000;
}
button.normal{
    font-size: 14px;
    padding: 15px 30px;
    color: #000;
    background-color: #fff;
    border-radius: 4px;
    cursor: pointer;
    border: none;
    outline: none;
    transition: 0.2s ease;
}
#form-details form .file-label .normal{
    display: inline-block;
    background-color: #fff;
    color: #000; 
    padding: 10px 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    cursor: pointer;
}
/*Contact Us*/
#contact-details{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#contact-details .details{
    width: 40%;
}

#contact-details .details .span,
#form-details form span{
    font-size: 12px;
}

#contact-details .details h2,
#form-details form h2{
    font-size: 26px;
    line-height: 35px;
    padding: 20px 0;
}

#contact-details .details h3{
    font-size: 16px;
    padding-bottom: 15px;
}

#contact-details .details li{
    list-style: none;
    display: flex;
    padding: 10px 0;
}

#contact-details .details li i{
    font-size: 14px;
    padding-right: 22px;
}

#contact-details .details li p{
    font-size: 14px;
    margin: 0;
}

#contact-details .map{
    width: 55%;
    height: 400px;
}

#contact-details .map iframe{
    width: 100%;
    height: 100%;
}

#form-details{
    display: flex;
    justify-content: space-between;
    margin: 30px;
    padding: 80px;
    border: 1px solid #e1e1e1;
}

#form-details form{
    width: 65%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

#form-details form input,
#form-details form textarea{
    width: 100%;
    padding: 12px 15px;
    outline: none;
    margin-bottom: 20px;
    border: 1px solid #e1e1e1;
}

#form-details form button{
    background-color: #f9b837;
    color: #fff;
}

#form-details .people div{
    padding-bottom: 25px;
    display: flex;
    align-items: flex-start;
}

#form-details .people div img{
    width: 65px;
    height: 65px;
    object-fit: cover;
    margin-right: 15px;
}

#form-details .people div p{
    margin: 0;
    font-size: 13px;
    line-height: 25px;
}

#form-details .people div p span{
    display: block;
    font-size: 16px;
    font-weight: 600;
    color: #000;
}

/*Login*/
.container{
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(rbga(0,0,50,0.8),rbga(0,0,50,0.8)),url();
    background-position: center;
    background-size: cover;
    position: relative;

}
.form-box{
    width: 95%;
    max-width: 450px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    background:#fff;
    padding: 50px 60px 70px;
    text-align: center;
}
.form-box h1{
    font-size: 30px;
    margin-bottom: 60px;
    color: #3c00a0;
    position: relative;
}
.form-box h1::after{
    content:" ";
    width: 30px;
    height: 4px;
    border-radius: 4px;
    background: #3c00a0;
    position: absolute;
    bottom: -12px;
    left: 50%;
    transform: translateX(-70%);
}
.input-field{
    background: #eaeaea;
    margin: 15px 0;
    border-radius: 3px;
    display:flex;
    align-items: center;
    max-height: 65px;
    transition: max-height 0.5s;
    overflow: hidden;
}
input{
    width: 100%;
    background: transparent;
    border: 0;
    outline: 0;
    padding: 18px 15px;
}
.btn-field{
    width: 100%;
    display: flex;
    justify-content: space-between;
}
.btn-field button{
    flex-basis: 48%;
    background: #3c00a0;
    color: #fff;
    height: 40px;
    border-radius: 20px;
    border: 0;
    outline: 0;
    cursor:pointer;
    transition: background 1.5s;
}
.input-area{
    height:280px;
}
.btn-field.disabled{
    background: #eaeaea;
    color: #555;
}